//footer
// .footer-nav-links a{
//      color: $gray99;
//  }
footer {
    // box-shadow: $panel-shadow;
}

.nav-footer,
.nav-footer a {
    color: $black5f;
}

// login footer info
html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.login-footer-fixd::after {
    content: '';
    display: block;
    height: 60px;
}

.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}