// Main navigation info
.navbar-brand {
    display: flex;
    @media (max-width: $md) {
        // display: none;
    }
    @media(min-width: $md) {
        @include flex();
    }
    img {
        height: 28px;
        width: auto;
        @media (min-width: $lg) {
            height: 36px;
        }
    }
}

.navbar-expand-md {
    box-shadow: $panel-shadow;
}

/* Svg Logo fix for IE*/

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .navbar-brand img {
        height: 36px;
        width: 190px;
    }
}

.logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-header {
    -webkit-box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.04);
    box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.04);
    @media (min-width: $md) {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-toggler .icon {
    font-size: 23px;
    color: #565368;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* nav-list items info*/

.nav-link {
    padding: 0.35rem .55rem;
    position: relative;
    @media(min-width: $lg) {
        padding: 0.35rem .6rem;
    }
    @media(min-width: $xl) {
        padding: 0.35rem 1rem;
    }
    &--right {
        @include fonts(12px, 12px, 13px, uppercase, "ProximaNova-Semibold");
        color: $nav-header-text;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        &:hover,
        &:focus {
            color: $theme-primary;
        }
    }
}