footer.login-footer
    .container
        .row
            .col-sm
                .nav-footer.fnt-xs.d-lg-flex.justify-content-between.py-3.py-md-4
                    .nav-footer__list
                        a.mr-4(href="#") Terms & Conditions
                        a(href="privacy-policy.html") Privacy & Cookies Policy
                    span © Mission Bio. All rights reserved