// header
header
    section
        nav.bg-white.navbar.navbar-expand-md.fixed-top.py-3
            .container
                .row.d-flex.justify-content-between.align-items-center
                    //brand-logo
                    a.navbar-brand.d-md-block.mr-lg-5(href='product-solutions.html')
                        img(src="img/logo1.svg" alt="Mission bio Logo")
                    #navigation.collapse.navbar-collapse
                        //nav-list-items-right
                        .nav-menu.ml-md-auto.my-md-2.my-lg-0.d-flex
                            .ui.dropdown.pointing.top.right
                                //- img.align-middle.pr-2(src="img/accountLogo.png" alt="accountLogo")
                                span.fnt-sm.fnt-semibold.text-gray-secondary Stephen D’souza
                                i.dropdown.icon
                                .menu
                                    a.item(href="product-solutions.html") Products & Solutions
                                    a.item(href="Account-details.html") My Account
                                    a.item(href="contact.html") Logout
                                    //- .item Logout
