mixin script(page_name)
  // Common scripts
  script(type='text/javascript', src='./js/plugins/jquery.min.js')
  script(type='text/javascript', src='./js/plugins/popper.min.js')
  script(type='text/javascript', src='./js/plugins/bootstrap.min.js')
  script(type='text/javascript', src='./js/plugins/transition.min.js')
  script(type='text/javascript', src='./js/plugins/dropdown.min.js')
  script(type='text/javascript', src='./js/plugins/form.min.js')
  script(type='text/javascript', src='./js/plugins/checkbox.min.js')
  script(type='text/javascript', src='./js/plugins/clipboard.min.js')
  script(src="js/plugins/semantic.min.js")
  // Main script
  script(type='text/javascript', src='./js/main.js')
  