// buttons info
.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: $button-default;
  color: $button-default-text;
  margin: 0em 0.25em 0em 0em;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 1em;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  border-radius: $input-border-radius;
  border: 1px solid $button-default;
  box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  user-select: none;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
  transition: all 0.5s;



  &-primary {
    background-color: $theme-primary;
    color: $white;
    border: 1px solid $theme-primary;
  }

  &-secondary {
    background-color: $white;
    color: $theme-primary;
    border: 1px solid $theme-primary;
  }

  &--big {
    padding: 1rem 4.4rem;
  }

  &--small {
    padding: 0.5rem 1rem;
  }
}


