// .ui.dropdown .menu{
// 	will-change: unset !important;
// }
// .ui.dropdown .menu .item .dropdown.icon {
//     font-family: 'Proxima' !important;
//     content: "\61" !important;
// }
// .ui.dropdown .menu .item .dropdown.right.icon:before {
//     content: "\61";
// 		font-size: 18px;
// }
// .ui.dropdown .menu .item .dropdown.left.icon:before {
// 		content: "\7a";
// 		font-size: 18px;
// }
// /*--------------------
//       Dropdown
// ---------------------*/
// .form-dropdown {
// 	padding: 0.8rem 1.1rem !important;
// 	@media (min-width: $sm){
// 		padding: 1.1rem !important;
// 	}
// }
// .ui.selection.dropdown:focus,
// .ui.selection.active.dropdown,
// .ui.selection.active.dropdown:hover {
//   border-color: $red;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }
// .ui.selection.dropdown .menu {
//   -webkit-box-shadow: 0px 0px 24px 0px rgba(71, 71, 71, 0.18);
//   box-shadow: 0px 0px 24px 0px rgba(71, 71, 71, 0.18);
//   border: none;
//   margin-top: 1px;
// }
// .ui.selection.active.dropdown .menu {
//   -webkit-box-shadow: 0px 0px 24px 0px rgba(71, 71, 71, 0.18);
//   box-shadow: 0px 0px 24px 0px rgba(71, 71, 71, 0.18);
//   border: none;
// }
// .ui.selection.active.dropdown:hover .menu {
//   -webkit-box-shadow: 0px 0px 24px 0px rgba(71, 71, 71, 0.18);
//   box-shadow: 0px 0px 24px 0px rgba(71, 71, 71, 0.18);
// }
// /* .ui.dropdown .menu .item,*/
// /* .ui.dropdown .menu .text,*/
// /* .ui.dropdown .menu .default.text,*/
// /* .ui.dropdown .menu > .item,*/
// /* .ui.selection.dropdown .menu .item {*/
// /*   font-size: 14px;*/
// /* 	@media (min-width: $sm){*/
// /* 		font-size: 14px;*/
// /* 	}*/
// /* 	@media (min-width: $lg){*/
// /* 		font-size: 16px;*/
// /* 	}*/
// /*   padding: 0.5em 1.15em !important;*/
// /*   outline: none;*/
// /*   border: none !important;*/
// /* }*/
// .ui.dropdown .menu .selected.item {
//   background: transparent;
//   color: $theme-text-primary;
// }
// .ui.dropdown .menu>.item:hover,
// .ui.dropdown .menu>.item:active,
// {
//   color: $theme-text-primary;
//   background: transparent;
// }
// .ui.form input:focus {
//   outline: none !important;
//   border-color: $red;
// }
// .ui.form .field.error .ui.dropdown .item,
// .ui.form .field.error .ui.dropdown .menu .selected.item {
//   background: transparent;
//   color: $theme-text-primary;
// }
// .ui.form .field>.selection.dropdown>.dropdown.icon {
//   padding: 1.1rem;
// }
// .ui.search.selection.dropdown>input.search,
// .ui.search.dropdown.active>input.search,
// .ui.search.dropdown.visible>input.search {
// 	padding: 0.8rem 1.1rem;
// 	@media (min-width: $sm){
// 		padding: 1.1rem;
// 	}
// }
// .ui.dropdown .menu > .header{
//   @extend .fnt-sm;
// }
// /* Small texted size dropdown*/
// .ui.dropdown.sm > .item,
// .ui.dropdown.sm .text,
// .ui.dropdown.sm .default.text{
// 	font-size: 12px;
// 	@media (min-width: $sm){
// 		font-size: 13px;
// 	}
// 	@media (min-width: $lg){
// 		font-size: 14px;
// 	}
// }
// .ui.dropdown .menu{
// 	padding: 0.4rem 0;
// 	will-change: unset;
// }
// .ui.dropdown.sm .menu .item,
// .ui.dropdown.sm.selection .item,
// .ui.dropdown.sm .menu.selection .item{
// 	font-size: 12px;
// 	/* line-height: 22px;*/
// 	@media (min-width: $sm){
// 		font-size: 13px;
// 		/* line-height: 23px;*/
// 	}
// 	@media (min-width: $lg){
// 		font-size: 14px;
// 		/* line-height: 24px;*/
// 	}
// }
// .ui.top.right.pointing.dropdown.sm > .menu{
//     margin-right: -8px;
// 		margin-top: 4px;
// }
// .dropdown.icon.icon-angle-down{
// 	padding: 16px 10px !important;
// 	&:before{
// 		content: '\61' !important;
// 	}
// }
// .dropdown.icon.icon-angle-down.p-0{
// 	padding: 0px !important;
// 	&:before{
// 		top: 4px;
// 		position: relative;
// 	}
// }
// .dropdown.icon.icon-angle-right{
// 	&:before{
// 		content: '\41' !important;
// 		font-size: 1.2rem;
// 	}
// }
// .dropdown.icon.icon-angle-left{
// 	&:before{
// 		content: '\7a' !important;
// 	}
// }
// .dropdown.icon.icon-angle-up{
// 	&:before{
// 		content: '\42' !important;
// 	}
// }
// .ui.selection.dropdown > .search.icon, .ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon{
// 	padding:13px 10px !important;
// 	@media (min-width: $sm){
// 		padding:18px 10px !important;
// 	}
// }
// .ui.dropdown.search.active.visible{
// 	.icon.dropdown{
// 		-webkit-transform: rotate(180deg);
// 		    -ms-transform: rotate(180deg);
// 		        transform: rotate(180deg);
// 	}
// }
// .js-dropdown-center{
// 	> .menu.big{
// 		padding: 26px 12px !important;
// 		border: none;
// 		-webkit-box-shadow: 0 0 21px 1px rgba(0,0,0,0.2);
// 		        box-shadow: 0 0 21px 1px rgba(0,0,0,0.2);
// 	}
// 	> .menu:after{
// 		width: 1.5em !important;
//     height: 1.5em !important;
//     top: -0.75em !important;
// 		margin: 0 0 0 -0.75em !important;
// 		-webkit-box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.02) !important;
// 		        box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.02) !important;
// 	}
// }
// .ui.dropdown > .left.menu{
// 	@media (min-width: $sm){
// 		right: -15px !important;
// 	}
// }
// .ui.dropdown .menu > .item > .icon{
// 	margin: 0 0.8rem 0 0 ;
// }
// .ui.dropdown > .dropdown.icon{
// 	font-size: 1em;
// }
// .ui.dropdown > .dropdown.icon:before {
//     content: '\61' !important;
//     font-family: "metal";
// }
// .ui.multiple.dropdown{
// 	padding: 0.5em 2em 0.5em 0.5em;
// }
// // 
// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
// 	.ui.multiple.dropdown{
// 		padding: 0.35em 2.1em 0 0.35714286em;
// 	}
// }
// .ui.multiple.dropdown > .label{
// 	padding: 0.5rem 2rem 0.5rem 0.5rem;
// 	position: relative;
// 	margin: 0.2rem 0.28571429rem 0.14285714rem 0;
// 	font-size: 0.9em;
// 	i{
// 		position: absolute;
// 		top: 15px;
// 		right: 10px;
// 	}
// }
// .ui{
//   .delete.icon{
// 		position: relative;
// 		width: 1rem;
// 		height: 1rem;
//     &:after,
//     &:before{
//       position: absolute;
//       content: '';
//       background: $theme-text-secondary;
//       width: 12px;
//       height: 2px;
//       top: 0px;
//       right: 0px;
//     }
//     &:before{
//       -webkit-transform: rotate(45deg);
//           -ms-transform: rotate(45deg);
//               transform: rotate(45deg);
//     }
//     &:after{
//       -webkit-transform: rotate(-45deg);
//           -ms-transform: rotate(-45deg);
//               transform: rotate(-45deg);
//     }
//   }
// }
// .ui.search.selection.multiple.dropdown > input.search{
// 	padding: 0.2rem 0;
// }
// .ui.multiple.search.dropdown > .text{
// 	margin: 0.6em 0em 0.6em 0.6em;
// 	@media (min-width: $sm){
// 		margin: 0.8em 0em 0.6em 0.6em;
// 	}
// }
// .ui.multiple.search.dropdown > input.search{
// 	@media (max-width: $sm){
// 		margin: .2em 0 .2em .64285714em;
// 	}
// }
// .ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text{
// 	color: $theme-text-primary;
// }
// .sort-by-option.ui.dropdown{
// 	background-color: rgba(215, 215, 215, 0.4);
//   padding: 7px 15px;
// 	border-radius:3px;
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// 	min-width:145px;
// 	-webkit-box-pack:justify;
// 	    -ms-flex-pack:justify;
// 	        justify-content:space-between;
// 	-webkit-box-align:center;
// 	    -ms-flex-align:center;
// 	        align-items:center;	
// 	&>.dropdown.icon:before{
// 		color:#999;
// 		}
// }
// .ui.dropdown > .dropdown.icon{
// 	-webkit-transition:0.3s all;
// 	-o-transition:0.3s all;
// 	transition:0.3s all;
// 	margin: 0 0 0 0.5em;
// 	@media (min-width: $sm){
// 		margin: 0 0 0 1em;
// 	}
// }
// .ui.dropdown.sort-by-option:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text{
//     color: rgba(51, 51, 51, 0.6);
// }
// .ui.dropdown.cards-select:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text{
//     color: rgba(51, 51, 51, 0.6);
// }
// .texted-dropdown{
// 	.icon.dropdown{
// 		position: absolute;
// 		top: 3px;
// 	}
// }
// .ui.dropdown .menu > .header{
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// 	-webkit-box-orient: vertical;
// 	-webkit-box-direction: normal;
// 	    -ms-flex-direction: column;
// 	        flex-direction: column;
// 	@media (min-width: $sm) {
// 		-webkit-box-orient: horizontal;
// 		-webkit-box-direction: normal;
// 		    -ms-flex-direction: row;
// 		        flex-direction: row;
// 		-webkit-box-pack: justify;
// 		    -ms-flex-pack: justify;
// 		        justify-content: space-between;
// 	}
// }
// /* dropdown font-size*/
// /* .ui.search.dropdown > .text{*/
// /* 	font-size: 14px !important;*/
// /* 	 @media(min-width: $lg) {*/
// /* 	 	font-size: 16px !important;*/
// /* 	 }*/
// /* }*/
// /*Main-header dropdowns*/
// .dropdown-menu.show{
// 	padding: 12px;
// 	-webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.14);
// 	        box-shadow: 0 0 43px rgba(0, 0, 0, 0.14);
// 	border: 0;
// 	@media(min-width: $md) {
// 		padding: 20px;
// 	}
// }
// over-riding the dropdown styles
.nav-menu {
    .ui.dropdown .menu>.item {
        @extend .fnt-sm;
        color: $black5f;
        @extend .fnt-semibold;
        padding: .6rem 2rem !important;
        &:hover,
        &:focus,
        &.active {
            background: rgba(67, 197, 227, .09);
            color: $sky-blue;
        }
    }
    .ui.pointing.dropdown>.menu:after {
        box-shadow: -1px -1px 0 0 rgba(0, 0, 0, .045);
    }
    .ui.top.right.pointing.dropdown>.menu {
        border: 1px solid rgba(0, 0, 0, .03);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .09);
        box-shadow: $panel-shadow;
        border-radius: 0;
    }
}

.ui.dropdown>.text {
    display: inline-block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    //   color: rgba(0, 0, 0, 0.64);
    font-size: 14px;
}

// .dropdown ScrollBar
.menu::-webkit-scrollbar-thumb {
    background: #43c5e3;
}

.menu::-webkit-scrollbar {
    background-color: #fdfafa;
    -webkit-appearance: none;
    width: 5px;
    height: 10px;
}

.menu::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
    background: rgba(0, 0, 0, .1);
    border-radius: 0;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #43c5e3;
    outline: 1px solid #43c5e3;
    cursor: pointer;
    border-radius: 5px;
    transition: color .2s ease;
    height: 60px;
}

.ui.dropdown .menu>.item {
    font-size: 0.88rem;
    &:hover {
        background: rgba(67, 197, 227, .09);
        color: #43c5e3;
    }
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
    background: rgba(67, 197, 227, .09);
    color: #43c5e3;
}

// icon dropdown
.form-dropdown {
    position: relative;
    .icon-down-arrow {
        position: absolute;
        top: 14px;
        @extend .fnt-sm;
        right: 15px;
        padding: 0 !important;
        transition: transform 0.2s;
        transform: rotate(0deg);
        color: $theme-secondary;
    }
    &.active .dropdown.icon-down-arrow {
        transform: rotate(180deg);
        top: 6px;
    }
}