// /* Input */
.form-label {
    color: $input-label !important;
    margin-bottom: .5rem !important;
}

.form-input {
    padding: .6rem 1rem !important;
    background: $input-filled-bg !important;
    border: none !important;
    border-radius: 0 !important; //   background: red !important;
    @extend .fnt-sm;
    @media(min-width: $md) {
        padding: .9rem 1.2rem !important;
    } //   @media(min-width: $lg) {
    //     padding: .9rem 1.2rem !important;
    //   }
}

// form-info details
.change-passwordNew {
    .ui.error.message ul li {
        color: $red;
        font-size: 14px;
        margin: 13px 0;
        list-style-type: disc;
    }
}

.account-info {
    color: $black5f;
}

// Eye Icon 
.ml-icon {
    margin-left: -2rem;
    cursor: pointer;
    color: rgba(29, 28, 59, .4);
    margin-top: 0.7rem;
}

.field.error .ml-icon {
    color: #f15364;
}

.eyeIconEffect {
    // transform: scale(1.2)
    color: #43c5e3;
}

// regsitration set rules 
.registrationFormLogin {
    .ui.error.message ul li {
        color: $red;
        font-size: 14px;
        margin: 13px 0;
        list-style-type: disc;
    }
}

.password-rules {
    background: $thin-blue;
    padding: .5rem .8rem;
    margin-bottom: .5rem;
    p {
        color: $black1d;
    }
    li {
        color: $black5f;
        background: $thin-blue;
        &.done {
            color: rgba(95, 95, 117, .5);
        }
    }
}