/* form-info */

.form-info .ui.checkbox.radio,
.ui.checkbox {
    // @extend .fnt-sm;
    label {
        line-height: 18px; // @extend .anchor-gray;
        padding-left: 1.8rem;
    }
}

/* checkboxes*/

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    @include fonts(12px, 14px, 14px, null, null);
    @include font-smoothing;
    &__indicator {
        position: absolute;
        top: 4px;
        left: 0;
        height: 15px;
        width: 15px;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
    }
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: none;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    /* border: 1px solid #e6e6e6;*/
}

.control input:checked~.control__indicator {
    background: $blue;
    border: none;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: $blue;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

/* text-area*/

.ui.form textarea {
    resize: none;
}

/* swtiching checking boxes*/

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 17px;
}

.switch input {
    display: none;
}

.checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 0px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
}

input:checked+.checkbox-slider {
    background-color: #06c078;
}

input:focus+.checkbox-slider {
    /* box-shadow: 0 0 1px #2196F3;*/
}

input:checked+.checkbox-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */

.checkbox-slider.round {
    border-radius: 34px;
}

.checkbox-slider.round:before {
    border-radius: 50%;
}

/* Form Switch Checkbox*/

.form-switch-checkbox {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
    border: none;
}

input:checked+.checkbox-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.form-switch-checkbox input {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.form-switch-checkbox .checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 28px;
    background-color: #e5e5e5;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 3px;
        bottom: 1px;
        background-color: #b7b7b7;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
}

.form-switch-checkbox input:checked+.checkbox-slider {
    background-color: $sky-blue;
    &:before {
        background-color: $white;
    }
}

/* Form Checkbox*/

.form-checkbox {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.form-checkbox+label {
    position: relative;
    cursor: pointer;
}

.form-checkbox+label:before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    border: solid 1px $theme-text-primary;
    top: 2px;
    margin-right: 10px;
    border-radius: 2px;
}

.form-checkbox:checked+label:before {
    border: solid 1px $theme-primary;
    background: $theme-primary;
}

.form-checkbox.secondary:checked+label:before {
    border: solid 1px $theme-secondary;
    background: $theme-secondary;
}

.form-checkbox:checked+label:after {
    content: '';
    position: absolute;
    left: 0.18em;
    top: 0.75em;
    background: white;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Radio*/

// .form-radio{
//     opacity: 0;
//     position: absolute;
//     left: -9999px;
// }
// .form-radio + label {
//     position: relative;
//     cursor: pointer;
// }
// .form-radio + label:before {
//     content: '';
//     position: relative;
//     display: inline-block;
//     vertical-align: text-top;
//     width: 18px;
//     height: 18px;
//     border: solid 2px rgba(51, 51, 51, .6);
//     top: 0px;
//     margin-right: 10px;
//     border-radius: 100%;
//   }
// .form-radio:checked + label:before {
//     border: solid 2px $theme-primary;
//   }
// .form-radio:checked + label:after {
//   content: '';
//   position: absolute;
//   left: 5px;
//   top:7px;
//   background: $theme-primary;
//   width: 8px;
//   height: 8px;
//   border-radius: 50%;
// }
// .form-radio.secondary:checked + label:after {
//   background: $theme-secondary;
// }
/* Form Search box*/

.form-search input {
    border: none !important;
}

.label-wrapper {
    margin-bottom: 0 !important;
    margin-right: 4rem;
}

// form active while changing the form place
.form-card.active {
    opacity: 1;
    display: block; // transition: 0.5s all ease;
}

.form-card.inactive {
    opacity: 0;
    display: none; // transition: 0.5s all ease;
}

//checkbox styling info
.ui.checkbox .box:after,
.ui.checkbox .box:before,
.ui.checkbox label:after,
.ui.checkbox label:before {
    top: 5px;
}

.ui.form .field.error .checkbox:not(.toggle):not(.slider) label {
    color: $red;
}

.ui.checkbox input.hidden+label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui.checkbox.checked input:checked~.box:before,
.ui.checkbox.checked input:checked~label:before {
    background: $sky-blue;
    border-color: $sky-blue;
    color: $white;
}

.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after,
.ui.checkbox.checked input:checked~.box:after,
.ui.checkbox.checked input:checked~label:after,
.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox.radio.checked input:checked~.box:after,
.ui.checkbox.radio.checked input:checked~label:after {
    background-color: $sky-blue;
    border-color: $sky-blue;
    color: $white;
}

.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after,
.ui.checkbox.checked input:checked~.box:after,
.ui.checkbox.checked input:checked~label:after,
.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox.radio.checked input:checked~.box:after,
.ui.checkbox.radio.checked input:checked~label:after {
    background-color: $sky-blue;
    border-color: $sky-blue;
    color: $white;
}