// custom fonts
[data-icon]:before {
    font-family: "Proxima" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "Proxima" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-password-view:before {
    content: "\65";
}

.icon-down-arrow:before {
    content: "\61";
}

.icon-mail:before {
    content: "\62";
}

.icon-password:before {
    content: "\63";
}

.icon-admin:before {
    content: "\64";
}