@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/Proxima-nova-reguler/ProximaNova-Regular.eot');
    src: url('../fonts/Proxima-nova-reguler/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/Proxima-nova-reguler/ProximaNova-Regular.woff') format('woff'), url('../fonts/Proxima-nova-reguler/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/Proxima-nova-reguler/ProximaNova-Regular.svg#Proxima-nova-reguler') format('svg'), url('../fonts/Proxima-nova-reguler/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/Proxima-nov-light/ProximaNova-Light.eot');
    src: url('../fonts/Proxima-nov-light/ProximaNova-Light.woff2') format('woff2'), url('../fonts/Proxima-nov-light/ProximaNova-Light.woff') format('woff'), url('../fonts/Proxima-nov-light/ProximaNova-Light.ttf') format('truetype'), url('../fonts/Proxima-nov-light/ProximaNova-Light.svg#Proxima-nov-light') format('svg'), url('../fonts/Proxima-nov-light/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.eot');
    src: url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.woff') format('woff'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.svg#Proxima-nova-semibold') format('svg'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.eot');
    src: url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.woff') format('woff'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.svg#Proxima-nova-semibold') format('svg'), url('../fonts/Proxima-nova-semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima";
    src: url("../fonts/Proxima/Proxima.eot");
    src: url("../fonts/Proxima/Proxima.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima/Proxima.woff") format("woff"), url("../fonts/Proxima/Proxima.ttf") format("truetype"), url("../fonts/Proxima/Proxima.svg#Proxima") format("svg");
    font-weight: normal;
    font-style: normal;
}
