/* Variables*/

/* --------------------------------------------------*/

/* Media queries breakpoints*/

/* --------------------------------------------------*/

/* Medium screen / desktop*/

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$sxl: 1600px;
$mxl: 1900px;
$mobile: 767px;
/* larger-screens */

$sxl-max: ($sxl - 1);
/** Extra large **/

$xl-max: ($xl - 1);
/* Large screen / wide desktop*/

$lg-max: ($lg - 1);
/* Medium screen / desktop*/

$md-max: ($md - 1);
/* Tiny screen / phone*/

$sm-max: ($sm - 1);
/*=============================================
=                COLORS NAME                  =
=============================================*/

$white: #ffffff;
$red: #f15364;
$sky-blue: #43c5e3;
$light-black: #6D6E70;
$thick-blue: #0A5773;
$black: #333333;
$gray: #666666;
$thick-gray: #5b5b71;
$thin-blue: #f7fbff;
// Custom color 
$black1d: #1d1c3b;
$black5f: #5f5f75 !default;
$blackf7: #f7f7f7;
$black4a: #4a4a4a;
$brandBlue: #29cff5;
$gray99: #9999a7;
$lightBlue:#d5eff5;
$darkBlue: #1862a1;
/*=============================================
=               THEME COLORS                  =
=============================================*/

// primary colors
$theme-primary: $sky-blue;
$theme-secondary: $sky-blue;
$theme-text-primary: $light-black;
$theme-text-secondary: $thick-blue;
// fonts
$font-proxima-reguler: ProximaNova-Regular;
$font-proxima-semibold: ProximaNova-Semibold;
$nav-header-text: $gray;
// box-shadow
$panel-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
$btn-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
// colors
$input-label:rgba(29, 28, 59, .7);
$input-filled-bg: $blackf7;


/*=============================================
=               CUSTOM CLASSES CSS                 =
=============================================*/

/* Buttons */
$button-toggle: #E2ECF0;
$button-default: #daf3ff;
$button-default-text: #00abfb;
