/**   Common css for all the pages   **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;*/
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        color: #0056b3;
        text-decoration: none;
        transition: all 0.5s ease;
    }
}

/*=============================================
		body Fonts
=============================================*/

body {
    font-family: 'ProximaNova-Regular'; // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;
    font-family: 'ProximaNova-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    p {
        @extend .fnt-sm;
        color: $black5f;
    }
}

// Loader
.hiLoader,
.loading {
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100vh;
}

.loading {
    background: url(../img/loading.gif) no-repeat center center;
    background-color: #fff;
    display: table;
    transition: all .2s;
}

// Fonts
.h2 {
    @include fonts(22px, 24px, 28px, null, 'ProximaNova-Semibold');
}

.fnt-xl {
    @include fonts(18px, 20px, 20px, null, 'ProximaNova-Semibold');
}

.fnt-lg {
    @include fonts(14px, 16px, 18px, null, null);
}

.fnt-md {
    @include fonts(14px, 14px, 16px, null, null);
}

.fnt-sm {
    @include fonts(12px, 14px, 14px, null, null);
}

.fnt-xs {
    @include fonts(10px, 12px, 12px, null, null);
}

.fnt-semibold {
    font-family: 'ProximaNova-Semibold';
}

// Background-Color
.bg-f2{
    background-color: #f2f5f8;
}
// Text-Color
.white {
	color: $white;
}

.b3 {
	color: $black;
}

.black1d {
	color: $black1d;
}

.black4a {
	color: $black4a;
}

.black5f {
	color: $black5f;
}

.blue0a {
	color: $thick-blue;
}

.blueSky {
	color: $sky-blue;
}

// spacing info

// Common CSS

.h-100vh {
    height: 100vh;
}

.h100 {
    height: 100% !important;
}

.cursr {
    cursor: pointer;
}

.main-container {
    margin-top: 4.6rem;
}

/* Avatar */

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;

  &.sm {
    width: 40px;
    height: 40px;
  }
}