// 
section.banner
    .blue-banner.bg-f2
        .container
            div
                img(src="img/icons/back-icon.png", alt="back-icon")
                a.ml-3.fnt-xs.white(href="#", title="back") Back to Customer Portal
            h5.h2.white Designer
div
    button.button.button-primary Primary
