<!DOCTYPE html>
html(lang="en")
  - var pageName = "home"
  - var page_name= "home"
  head
    include pug/base/head.pug
    +head(pageName)
  body

    include pug/base/header.pug
    main.main-container
      section
        .container
          div.my-4
            h1 Buttons
            div
              div
                button.button Default
              pre button
            div
              div
                button.button.button-primary Primary
              pre button button-primary
            div
              div
                button.button.button-secondary Secondary
              pre button button-secondary
            div
              div
                button.button.button-primary.button--big Large size
              pre button button-primary button--big
            div
              div
                button.button.button-secondary.button--small Small size
              pre button button-secondary button--small
            
          .my-4
            h1 Illustrator Image
            .row
              .col-md-3
                  .content
                    img.avatar(src='http://www.vibro.no/wp-content/uploads/2018/01/default-user-image.png')
                    
              //- .col-md-3
              //-   .ui.card
              //-     .content
              //-       .header Simple card
              //-     .content
              //-       h4.ui.sub.header Activity
              //-       .ui.small.feed
              //-             .summary
              //-               a Elliot Fu
              //-               |  added 
              //-               a Jenny Hess
              //-               |  to the project
              //-     .extra.content
              //-       button.button.button-secondary.button--small Register
              //-   pre .ui.card
              //- .col-md-3  
              //-   .ui.card.bottom-bordered
              //-     .content Bottom bordered
              //-     .content
              //-       h4.ui.sub.header Activity
              //-       p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, impedit error nulla repudiandae porro amet consequatur, quis fugit est qui maiores earum. Ratione, quisquam temporibus blanditiis molestiae eos ea dolorem.
              //-     .extra.content.text-center                    
              //-         button.button.button-secondary Back
              //-         button.button.button-primary Next
              //-   pre .ui.card.bottom-bordered
              //- .col-md-3
              //-   .ui.card.bottom-bordered.text-center
              //-     .content
              //-       .header Centered Card
              //-     .content
              //-       h4.ui.sub.header Activity
              //-       p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, impedit error nulla repudiandae porro amet consequatur, quis fugit est qui maiores earum. Ratione, quisquam temporibus blanditiis molestiae eos ea dolorem.
              //-     .extra.content
              //-       button.button.button-secondary.button--small Register
              //-   pre .ui.card.text-center
              
           
    include pug/base/footer.pug
    include pug/base/scripts.pug
    +script(page_name)